@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    width: 90%;
    margin: 2.5rem auto;
    background-color: black;

}

.font-playwite {
    font-family: "Playwrite GB S", cursive;
}

section {
    margin-top: 100px;
}

/* common styles  */
.btn-primary {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 16px 20px;
    gap: 3px;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
}

.primary-title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    color: rgb(255, 255, 255);

}

.primary-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
}

/* navbar style start */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
    color: rgb(255, 255, 255);
}

.span {
    color: rgb(230, 83, 60);
}

.nav-option {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 120%;
    color: rgb(255, 255, 255);
}

.nav-option a {
    margin-left: 4.1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.han-bar {
    display: none;
}

/* Hero section style start */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.hero-title {
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
    color: rgb(255, 255, 255);
}

/* .hero-content {
    max-width: 520px;
} */
.hero-content {
    max-width: 520px;
}

.hero-content p {
    margin: 28px 0;
}

.hero-content button {
    padding: 16px 40px 16px 40px;

}

.btn-app {
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    margin-left: 14px;

}

.hero-title span {
    font-family: "Playwrite GB S", cursive;
}

.hero-button {
    display: flex;
    gap: 14px;
}

.hero-card,
.video-card {
    max-width: 200px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 17px 24px;
}

.hero-card h4,
.video-card {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.hero-card {
    transform: translate(1090%, -470%);
    position: absolute;
}

.hero-card,
.video-card p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.65);
}

.video-card {

    transform: translate(920%, -160%);
}

.video-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-card i {
    color: rgb(230, 83, 60);
    margin-right: 5px;
}

/* change your habits styles */
.habits-container {
    display: flex;
    justify-content: space-between;
    gap: 38px;
}

.habits-title {
    text-align: center;
}

.habits-title p {
    margin-top: 14px;
    margin-bottom: 54px;
}

.habits-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.habits-img img {
    border-radius: 50%;
}

.habits-items h4 {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);
}

.habits-items p {
    margin-top: 6px;
    max-width: 230px;
    text-align: center;
}

/* Run and extra mile section start */

.extra-content {
    padding: 30px 32px 30px 54px;
    border-radius: 18px;
    background: rgb(34, 34, 34);

}

.extra-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra-item {
    margin-right: 165px;
}

.extra-item p {
    margin-top: 14px;
    margin-bottom: 34px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.extra-item button {
    font-size: 18px;
    padding: 16px 40px;

}

.extra-img img {
    width: 100%;
    border-radius: 18px;


}

/* our upcoming class style */
.upcoming-class {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.upcoming h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.class-container {
    border-radius: 18px;
    text-align: center;
    background: rgb(34, 34, 34);
    padding: 2rem;
}

.class-container img {
    width: 100%;
    border-radius: 1rem;
}

.card-title {
    font-size: 2rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 120%;
    color: #FFFFFF;
    text-align: center;
}







/* Responsive mobile Devices */

@media screen and (max-width: 576px) {
    .nav-option {
        display: none;
    }

    .han-bar {
        display: block;
        color: #FFFFFF;
    }

    .nav-title,
    .hero-title {
        font-size: 2rem;
    }

    .hero-container,
    .habits-container,
    .extra-content,
    .upcoming-class {
        flex-direction: column;

    }

    .hero-button {
        gap: 0;
        font-size: 1rem;
        font-weight: 400;

    }

    .hero-img {
        margin-top: 24PX;
    }

    .hero-card {
        display: none;
        transform: translate(120%, -550%);

    }


    .video-card {
        display: none;
        transform: translate(20%, -350%);
    }

    .extra-item {
        margin-right: 0;
    }

    .extra-item, .upcoming  h2 {
        font-size: 2rem;
    }

    .extra-img img {
        margin-top: 31px;
    }
    .card-title{
        font-size: 1.5rem;
    }
}